<br/>
<div class="jumbotron text-center bg">
  <h2>Smartphone</h2>

  <p>
  	<form class="form-inline">
	  <div class="form-group">
	    <label>Company &nbsp; </label>
	    <input type="text" class="form-control" ng-model="smartphone.company" value="TEXT">
	  </div>
	  &nbsp;
	  <div class="form-group">
	    <label>Phone Name &nbsp; </label>
	    <input type="text" class="form-control" ng-model="smartphone.name" placeholder="S7 Edge">
	  </div>
	  &nbsp;
	  <div class="form-group">
	    <label>Model Name {Indian Market} :&nbsp;</label>
	    <input type="text" class="form-control" ng-model="smartphone.model" placeholder="G935F">
	  </div>
	<br>
	<br>
	</form>
	<form class="form-inline">

		<div class="form-group">
			<label > Price&nbsp; </label>
		<input type="text" class="form-control" ng-model="smartphone.price" placeholder="₹ 56,000">
		</div>
		  &nbsp;
		  &nbsp;
		<form class="form-inline">
			<label> Price Range&nbsp; : 
			<input type="text" ng-disabled={true} class="form-control" ng-model="smartphone.priceRange.value" placeholder={{smartphone.priceRange.value}}>
			</label> 
			<rzslider rz-slider-model="smartphone.priceRange.value"></rzslider>	
		</form> 

	</form>	
	<br>
	<br>

	<div class="bs-callout bs-callout-primary">
		<h3>{ Specs[string] } </h3>
	</div>

	<form class="form-inline">
	  <div class="form-group">
	    <label>Platform : &nbsp; </label>
	    <input type="text" class="form-control" ng-model="smartphone.platform" placeholder="Android">
	  </div>
	  &nbsp;
	  <div class="form-group">
	    <input type="text" class="form-control" ng-model="smartphone.platformInfo" placeholder="Touch Wiz UI">
	  </div>
	  &nbsp;
	</form>

	<br><br>

	<form class="form-inline">
	  &nbsp;
	  <div class="form-group">
	    <label>GPU : &nbsp; </label>
	    <input type="text" class="form-control" ng-model="smartphone.gpu" placeholder="Mali-T880">
	  </div>
		<div class="form-group">
	    <label>Chipset : &nbsp; </label>
	    <input type="text" class="form-control" ng-model="smartphone.chipset" placeholder="Exynos 8890">
	  </div>
		&nbsp;
	  <div class="form-group">
	    <input type="text" class="form-control" ng-model="smartphone.chipInfo" placeholder="8890 4x2.3 GHz Mongoose 4x1.6 GHz Cortex-A53">
	  </div>
	</form>
	<br>
	<br>
	<form class="form-inline">
	  <div class="form-group">
	    <label>RAM : &nbsp; </label>
	    <input type="text" class="form-control" ng-model="smartphone.ram" placeholder="4 GB">
	  </div>
	  &nbsp;
	  <div class="form-group">
	    <label>Internal Memory : &nbsp; </label>
	    <input type="text" class="form-control" ng-model="smartphone.internal" placeholder="32 GB">
	  </div>
	  &nbsp;
	  <div class="form-group">
	  	<input type="checkbox" class="checkbox" ng-model="smartphone.cb" ng-change="smartphone.cbSelected()" />
	    <label >External Memory &nbsp; </label>
	    <input type="text" class="form-control" ng-show='smartphone.cb' ng-model="smartphone.external" placeholder="32/64/256 GB {split with / }">
	  </div>
	</form>
	<br>
	<br>
	<form class="form-inline">
	  <div class="form-group">
	    <label>CAMERA : &nbsp; </label>
	    <input type="text" class="form-control" ng-model="smartphone.camera" placeholder="12 MP">
	  </div>
	  &nbsp;
	  <div class="form-group">
	    <input type="text" class="form-control" ng-model="smartphone.cameraInfo" placeholder="f/1.7, 26mm">
	  </div>
	</form>
	<br>
	<br>

	<form class="form-inline">
	  <div class="form-group">
	    <label>DISPLAY : &nbsp; </label>
	    <input type="text" class="form-control" ng-model="smartphone.display" placeholder="535 ppi">
	  </div>
	   &nbsp;
	  <div class="form-group">
	    <input type="text" class="form-control" ng-model="smartphone.displayInfo" placeholder="AMOLED 2K">
	  </div>
	  &nbsp;
	</form>
	<br>
	<br>
	<form class="form-inline">
	  <div class="form-group">
	  	<label > SAR &nbsp; </label>
	    <input type="text" class="form-control" ng-model="smartphone.sar" placeholder=".26 Head .51 Body">
	  </div>
	</form>
	<br>
	<br>
	
	<div class="bs-callout bs-callout-primary">
		<h3>{ Rating[int] }</h3>
	</div>
 
	<br>
	<br>
	<form class="form-inline">
		<label > Performance &nbsp; :
			<input type="text" ng-disabled={true} class="form-control" ng-model="smartphone.performanceRange.value" placeholder={{smartphone.performanceRange.value}}>
		</label>
		<rzslider rz-slider-model="smartphone.performanceRange.value"></rzslider>	
	</form>  
	<br>
	<br>
	<form class="form-inline">
		<label > Camera &nbsp; : 
			<input type="text" ng-disabled={true} class="form-control" ng-model="smartphone.cameraRange.value" placeholder={{smartphone.cameraRange.value}}>
		</label>
		<rzslider rz-slider-model="smartphone.cameraRange.value"></rzslider>	
	</form>  
	<br>
	<br>
	<form class="form-inline">
		<label > Battery Life &nbsp; : 
			<input type="text" ng-disabled={true} class="form-control" ng-model="smartphone.batteryRange.value" placeholder={{smartphone.batteryRange.value}}>
		</label>
		<rzslider rz-slider-model="smartphone.batteryRange.value"></rzslider>	
	</form>  
	<br>
	<br>
	<form class="form-inline">
		<label > Build Quality &nbsp; : 
			<input type="text" ng-disabled={true} class="form-control" ng-model="smartphone.buildQuality.value" placeholder={{smartphone.buildQuality.value}}>
		</label>
		<rzslider rz-slider-model="smartphone.buildQuality.value"></rzslider>	
	</form>  
	<br>
	<br>
	<button class="btn btn-primary" ng-click="addTrack()">
	<span class="glyphicon glyphicon-floppy-disk" ></span> Save
	</button>
  </p>
</div>

<!-- PRICE AND PERFORMANCE POINTS -->